<!doctype html>
<html>
   <body>

   <h2><a href = "\get_stitched_urls">Image URLs</a></h2>
   <br>
   <h3><a href = "\get_default_images\a">Default_Suburb</a></h3>
   <h3><a href = "\get_default_images\b">Default_Field</a></h3>
   <h3><a href = "\get_default_images\c">Default_Grass</a></h3>
   <h3><a href = "\get_default_images\d">Default_Corner</a></h3>


    <!--<h2><a href = "\upload2">Upload Images</a></h2>-->
   <!--<br>-->
    <!--<h2><a href = "\clear_static">Clear Images</a></h2>-->

   </body>
</html>